rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /routes/{allPaths=**} { allow read: if true; allow write: if false; }
    match /userUploads/{uid}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
  }
}
